@media screen and (max-width: 768px){
    body{
        background-color: $media;
    }
    
}
@media (max-width: 768px) {
    .contacto {
        width: 100%;
    }
}
@media (max-width:576px){
    body{
        .imgUbi{
            width: 80%;
        }
        .imgGral{
            width: 60%;
        }
    }
}
